################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TechTrackBackendStructure.png
/TechTrackBackendStructure.drawio
/TechTrack.Frontend3
/TechTrack.Frontend4
/TechTrack.Frontend/.next
/TechTrack.Frontend/node_modules
