################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TechTrackBackendStructure.png
/TechTrackBackendStructure.drawio
